<div class="header">
  <div class="logo">RTimeline</div>
  <div class="lang-selectors">
    <button pButton type="button" label="ru" class="p-button-text" (click)="setLang('ru')"></button>
    <button pButton type="button" label="us" class="p-button-text" (click)="setLang('en')"></button>
  </div>
</div>
<p-timeline [value]="events" align="alternate">
  <ng-template pTemplate="marker" let-event>
      <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
          <i [ngClass]="event.icon"></i>
      </span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
      <p-card class="card" header="{{event.title | translate}}" subheader="{{event.date | translate}}">
      </p-card>
  </ng-template>
</p-timeline>
